.login-form{
    margin-top: 30px;
}
.login-col{
    background-color: aqua;
    width: 400px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.top-header{
    padding-bottom: 10px;

}
.login-submit-button{
    background-color: rgb(101, 124, 237);
    color: white;
    border: none;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 14px 0;
}
.login-submit-button:hover{
    background-color: rgb(24, 59, 234);
    
}
#form-input1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px ;
    margin-bottom: 28px;
}
#form-input2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px ;
    margin-bottom: 28px;
}
.not-registersection{
    padding: 18px 0;
}