.footer-section {
    padding: 40px;
   background-color: #062E4F;
   box-shadow: 0px 0 10px rgba(0, 0, 0, 1.8);
  
   
}
.footer-bottom-logo {

    font-size: 50px;
    margin-bottom: 20px;
}
.footer-left{
   
}
.footer-left p {

    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: justify;
    
}
.nav-links-page{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.nav-links-page li{
    margin-bottom: 10px;
}
.nav-links-page li a {
    text-decoration: none;
    font-size: 19px;
    line-height: 20px;
    color: rgb(255, 255, 255);
  

}
.social-icon{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-around;
}

.social-icon li a {
   color: #00bee9 ;
}
.contact-us{
    font-size: 22px;
    text-align: center;
    color: white;
    
}
.copyright{
    padding: 20px;
    background-color: gray;
}


